#
# This mysql config file specifies replication realm level settings
#
[mysqld]

# Databases to replicate are client specific
replicate-do-db         = demo
replicate-ignore-table  = demo.memory_session
replicate-ignore-table  = demo.memory_usage_u

# We only want binary logs for the client database
binlog_do_db            = demo
